/* amiko-regular - latin */
@font-face {
    font-family: 'AmikoRegular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/amiko-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/amiko-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* amiko-600 - latin */
@font-face {
    font-family: 'AmikoSemiBold';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/amiko-v12-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/amiko-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* amiko-700 - latin */
@font-face {
    font-family: 'AmikoBold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/amiko-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/amiko-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../img/Background_LandingPage.jpg");
    background-size: cover;
    overflow: hidden;
}

h1 {
    margin: 0px;
}

.navBar {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #101B3B;
    width: 100%;
    height: 70px;
    display: flex;
    font-family: 'AmikoBold';
    justify-content: center;
}

.titleImg {
    display: inline-flex;
    font-family: 'AmikoBold';
    font-size: 15px;
    color: #ffffff;
    align-items: center;
}

.contentContainer {
    display: inline-flex;
    height: 100vh;
    width: 90%;
    padding: 80px;
    padding-top: 0px;
    justify-content: space-between;
}

.titleStyle1 {
    font-family: 'AmikoBold';
    color: #ffffff;
    margin-top: 120px;
    width: 720px;
    font-size: 55px;
}

.titleStyle2 {
    font-family: 'AmikoBold';
    color: #ffffff;
    font-size: 30px;
}

/* Login and Register div Stuff */

.loginRegisterDiv {
    margin-bottom: 120px;
    width: 280px;
    height: 360px;
    background-color: #f5f8f8;
    align-self: center;
}

.loginRegisterHeader {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #EFF2E7;
    border-bottom: #2D3653 solid 1.5px;
}

.headerTxt {
    font-family: 'AmikoSemiBold';
    font-size: 20px;
    color: #101B3B;
    padding-left: 10px;
}

.loginDiv {
    height: 80%;
    padding: 30px;
    padding-bottom: 0px;
}

.loginDiv.hidden {
    display: none;
}

.registerDiv {
    height: 80%;
    padding: 30px;
    padding-bottom: 0px;
}

.registerDiv.hidden {
    display: none;
}

.loginForm {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.registerForm {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

label {
    font-family: 'AmikoSemiBold';
    font-size: 16px;
    color: #101B3B;
    padding-left: 10px;
}

.formInput {
    height: 35px;
    background-color: #2D3653 !important;
    border: none;
    color: #ffffff;
    font-family: 'AmikoRegular';
    font-size: 12px;
    width: 216px;
    padding-left: 5px;
    padding-right: 5px;
}

::placeholder {
    color: #ffffff;
}

.formInput:focus-visible {
    outline: none;
}

.LoginRegisterButton {
    height: 30px;
    background-color: #101B3B;
    color: #ffffff;
    width: 80px;
    font-size: 16px;
    border: none;
}

.LoginRegisterButton:focus-visible {
    outline: none;
}

#changeLink {
    cursor: pointer;
    font-family: 'AmikoSemiBold';
    font-size: 12px;
    color: #101B3B;
    margin-top: 15px;
}

.responseMessage {
    display: none;
    font-size: 14px;
    font-family: 'AmikoSemiBold';
    margin-top: 5px;
    margin-bottom: 0px;
}

.responseMessage.error {
    color: red;
    display: block;
}

.responseMessage.success {
    color: green;
    display: block;
}

@media (min-width: 1700px) {
    .titleStyle1 {
        font-size: 65px;
        width: 1338px;
    }

    .titleStyle2 {
        font-size: 35px;
    }
}