.videoInfo {
    background-color: #eff2f7;
    height: 35px;
    top: -3px;
    position: relative;
    display: flex;
}

.block {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#videoInfoTxt {
    font-family: "AmikoRegular";
    color: #101B3B;
}

.likes {
    font-family: "AmikoRegular";
    font-size: 14px;
    color: #101B3B;
    margin: 0;
}

.tagContainer {
    background-color: #101B3B;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid #101B3B;
    margin-right: 10px;
}

.tag {
    color: #ffffff;
    font-family: "AmikoRegular";
    font-size: 12px;
    margin: 0;
    padding: 5px;
    padding-left: 7px !important;
    padding-right: 7px !important;

}

.tags {
    display: inline-flex;
}

.tagsTxt {
    font-family: "AmikoSemibold";
    font-size: 20px;
    color: #101B3B;
}

.videoTag {
    font-family: "AmikoRegular";
    font-size: 14px;
    color: #016bcc;
    text-decoration: underline;
    cursor: pointer;
}

.line{
    margin-top: 50px;
    width: 100%;
    border: 1px #101B3B solid;
}

.totalComments {
    font-family: "AmikoSemibold";
    font-size: 20px;
    color: #101B3B;
    margin-top: 25px;
}

.textArea {
    resize: none;
    border-color: #101B3B;
    margin-top: 15px;
    font-family: "AmikoRegular";
    font-size: 14px;
}

.postComment {
    margin-top: 20px;
    height: 30px;
    background-color: #101B3B;
    color: #ffffff;
    width: 80px;
    font-size: 16px;
    border: none;
    margin-left: 94%;
}

.postComment:focus-visible {
    outline: none;
}

.tagComment{
    font-family: "AmikoRegular";
    font-size: 13px;
    color: #101B3B;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;
}

.comments {
    margin-top: 30px;
}

.commentContainer {
    background-color: #eff2f7;
    height: 100px;
    border-color: #101B3B;
    border: 1px solid;
    margin-bottom: 20px;
    padding: 25px;
}

.commentAuthor {
    font-family: "AmikoSemibold";
    font-size: 16px;
    color: #101B3B;
    margin-left: 15px;
    margin: 0;
}

.comment{
    font-family: "AmikoRegular";
    font-size: 14px;
    color: #101B3B;
    margin: 0;
    width: 1190px;
}

#tagComment{
    font-family: "AmikoRegular";
    font-size: 13px;
    color: #101B3B;
    margin: 0;
    height: 30px;
    border-color: #101B3B;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
